#nameTag {
	padding: 0px 0px 0px 15px;
}

#panelHeader {
	color: #72767e;
}

#bio-image {
	max-width: 50%;
	float: left;
	margin-right: 20px;
}
a span {
  display: none;
  position: absolute;
  background: rgba(0,0,0,0.6);
  color: #ddd;
}

a:hover span {
  display: block;
}

.spaceAround {
	display:flex;
	justify-content: space-around;
}


#connect {
	font-weight: 400;
    font-size: 11.9px;
    color: #72767e ;
    text-transform: uppercase;
    letter-spacing: .98px;
}

#footerText {
	margin: 0px 0px 0px 25px;
}

#footerSize {
	padding-top:0px;
}

.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
}



@media only screen and (max-width: 500px){
	#nameTag {
	padding: 2px 0px 0px 165px;
	line-height:25px;
	}
}
